<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Shop - Products</title>
</head>
<body>
    

<h5>NPM: </h5>
<p>{{ npm }}</p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<a href="{% url 'main:add_product' %}">
  <button>+ Add Product</button>
</a>

<hr>

<div class="container">
 <h1 class="page-title">Football Shop</h1>
 
{% if not product_list %}
<p>Belum ada product.</p>
{% else %}
<div class="products-grid">
{% for product in product_list %}
<div>
     <!-- Single Product Card - Manchester United Jersey -->
     <div class="product-card">
         <!-- Featured Badge -->
         <div class="featured-badge">Featured</div>
         
         <!-- Product Image -->
         <div class="product-image">
               {% if product.thumbnail %}
                <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100", alt="gambar product">
                <br />
                {% endif %}
             <!-- Jika gambar tidak ada, akan muncul placeholder -->
             
         </div>
         
         <!-- Product Info -->
         <div class="product-info">
             <!-- Product Name -->
             <h3 class="product-name"><a href="{% url 'main:show_detail_product' product.id %}">{{ product.name }}</a></h3>
             
             <!-- Brand -->
             <p class="product-brand">{{ product.brand}}</p>
             
             <!-- Description -->
             <p class="product-description">{{ product.description }}</p>
             
             <!-- Price -->
             <div class="product-price">{{ product.price}}</div>
             
             <!-- Stock Status -->
             <div class="product-stock stock-available">{{product.stok}}</div>
             
             <!-- Add to Cart Button -->
             <a href="{% url 'main:show_detail_product' product.id %}"><button class="detail-btn">
                 Detail
             </button></a>
         </div>
     </div>
 </div>
  
 
 <hr>
 {% endfor %}
</div>
</div>
{% endif %}
</body>
</html>



<!-- sumber css claude pada tugas 2 dihapus -->

